/* CSS reset START */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
	scroll-behavior: smooth;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color: white;
	text-decoration: none;
}
button {
	all: initial;
}
/* CSS reset END */

/*Background image*/
body {
	background: 
    linear-gradient(rgba(225, 220, 249, 0.33),rgba(225, 220, 249, 0.33)),
    url(../images/papyrus.webp) center top/contain repeat fixed;
}
/*Navigation styling*/

/*Initializing fonts*/
h1,h2,h3,h4 {
	font-family: 'Fredoka', sans-serif;
}
a,p,li {
	font-family: 'Lato', sans-serif;
}
h1{
	font-size: 3rem;
}
h2{
	font-size: 2.2rem;
}
h3{
	font-size: 1.45rem;
}
h4{
	font-size: 1rem;
}
strong{
	font-weight: 900;
}
/*Navigation*/
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #12020E;
	position: fixed;
	width: 100%;
	z-index: 999;
	transition: background 0.3s;
}
nav a{
    display: flex;
    align-items: center;
	color: #FFD23F;
	padding: 15px;
	font-family: 'Fredoka', sans-serif;
}
nav a img{
    width: 60px;
}
nav a h4{
	margin-left: 11px;
}

#hamenu{
	width: 45px;
	cursor: pointer;
	padding: 15px;
	transition: all 0.5s;
}
#hamenu:hover{
	background-color: #070007;
}
#menu-list{
	transform: translateX(100%);
	transition: .5s;
	width: 300px;
	position: absolute;
	top: 0;
}
#social-links:hover img{
	transform: scale(1.2);
}
#social-links img{
	padding-right: 15px;
	height: auto;
	width: 45px;
	transition: all 0.5s;
}
#menucheck {
	display: none ;
}
nav div label{
	display: block;
	height: 75px;
}
#menucheck:checked ~ #menu-list{
	transform: translateX(-225px);
	background-color: #070007;
	box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.2),
		0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
#menucheck:checked ~ label img{
	background-color: #070007;
}

#menu-list a{
	color: white;
	padding-left: 30px;
	font-size: 1.25rem;
	transition: .4s;
}
#menu-list a:hover{
	color: #FFD23F;
	background-color: #3A173A;
}
button {
	font-family: 'Fredoka', sans-serif;
	font-size: 1.45rem;
	padding: 7.5px 30px;
	border-radius: 7px;
	color: #ffcc33;
	background-color: #9448BC;
	cursor: pointer;
	transition: 0.25s all;
}
button:hover{
	filter: brightness(1.5) saturate(0.5);
}
button:active{
	filter: brightness(0.5) saturate(1.5);
}
button img{
	height: 30px;
}
.dark-btn{
	background-color: #3A173A;
	color: #FFD23F;
}
.light-btn{
	background-color: #ffcc33;
	color: #9448BC;
}
/*X Hamburger*/
#hamX{
	font-family: 'Fredoka', sans-serif;
	font-size: 2.2rem;
	color: white;
	text-align: right;
	height: auto;
	padding: 25px;
	cursor: pointer;
	transition: 0.5s;
}
#hamX:hover{
	color: #FFD23F;
	
}
/*Landing page*/
#hero{
	height: 100vh;
	background: url(../images/frame.jpg) center center/cover no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	flex-direction: column;
	overflow: hidden;
}
h1{
	font-weight: 600;
	color: white;
}
h1 strong{
	color: #FFD23F
}
#hero a{
	position: absolute;
	justify-self: flex-end;
	bottom: 30px;
	transition: 0.5s;
}
#hero a:hover{
	transform: scale(1.5);
}
#hero a img{
	width: 60px;
}
/* Landing page spinning cubes */
.cube-wrapper {
	width: 200px;
	height: 200px;
	position: relative;
	perspective: 1000px;
	padding: 75px;
	padding-left: 0;
  }
  
  .cube {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	perspective-origin: center;
	transform-origin: center;
	animation: rotate-cube 10s linear infinite;
  }
  
  .face {
	position: absolute;
	width: 200px;
	height: 200px;
	opacity: 0.85;
	font-family: 'Fredoka', sans-serif;
	font-size: 2.2rem;
	color: white;
	text-align: center;
	border-radius: 10%;
  }
  
  .front {
	transform: translateZ(100px);
	background-color: #ffcc33;
  }
  
  .back {
	transform: translateZ(-100px) rotateY(180deg);
	background-color: #ffcc33;
  }
  
  .right {
	transform: rotateY(-90deg) translatez(100px);
	background-color: #9900cc;
  }
  
  .left {
	transform: rotateY(90deg) translatez(100px);
	background-color: #9900cc;
  }
  
  .top {
	transform: rotateX(90deg) translateZ(100px);
	background-color: #070007;
  }
  
  .bottom {
	transform: rotateX(-90deg) translateZ(100px);
	background-color: #070007;
  }
  
  @keyframes rotate-cube {
	0% {
	  transform: rotateX(0deg) rotateY(0deg)  rotateZ(0);
	}
	100% {
	  transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
	}
  }
/*Sections formatting*/
h2{
	padding: 30px 15px;
}
#highlights h3 {
	color: white;
	text-shadow: .1em .1em 0 hsl(200 50% 30%);
	text-align: center;
}
#highlights div, #services div  {
	display: flex;
	flex-direction: column;
}
/*Highlights section*/
#highlights h2 {
	color: #9448BC;
	text-align: center;
}


#highlights .tab{
	display: none;
	justify-content: center;
	padding: 60px 0 0 0;
}
.arrowbutton{
	display: none;
}
#highlights .tab button {
	background-color: #D9D9D9;
	color: dimgrey;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	font-family: 'Fredoka', sans-serif;
	font-weight: 400;
	font-size: 2.2rem;
	padding: 14px 16px;
	transition: 0.3s;
	border-radius: 0;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  
  /* Change background color of buttons on hover */
  #highlights .tab button:hover {
	background-color: #C2A4D1;
  }
  
  /* Create an active/current tablink class */
  #highlights .tab button.active {
	background-color: #9448BC;
	color: #FFD23F;
  }
  #highlights .tabcontent{
	display: flex;
	flex-direction: column;
	padding: 0;
	background-color: rgba(255, 127, 80, 0);
	box-shadow: none;
  }


#highlights button img{
	height: 100px;
	opacity: 30%;
}
#highlights button img:hover{
	opacity: 100%;
}

/*Highlights gallery*/
.project-card{
	width: 100%;
	height: 250px;
	display: flex;
	flex-direction: column-reverse;
	background-size: 100%;
}
.project-card h3{
	width: 100%;
	height: 30px;
	background-color: rgba(0, 0, 0, 0.603);
}

#h1 {
	background: url(../images/h1.jpg) center center/cover no-repeat;
}
#h2 {
	background: url(../images/h2.jpg) center center/cover no-repeat;
}
#h3 {
	background: url(../images/h3.jpg) center center/cover no-repeat;
}
#h4 {
	background: url(../images/h4.png) center center/cover no-repeat;
}
#h1, #h2, #h3{
	background-color: #0e010eef;
	transition: 0.5s all;
	background-size: 100%;
}
#h1:hover,#h2:hover,#h3:hover {
	background-size: 120%;
}
/*Services Section*/
#services{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#services h2{
	color: #3A173A;
	width: auto;
	text-align: center;
}
#services div{
	position: relative;
	max-width: 1400px;
	width: 100%;
}
/*Services Gallery*/
.services-cards{
	width: 100%;
	max-width: 700px;
	height: 250px;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-content: center;
}
.services-cards h3{
	width: auto;
	text-align: left;
	align-self: start;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.603);
}

#s1 h3, #s3 h3 {
	align-self: flex-end;
	text-align: right;
}
#s1 {
	background: url(../images/s1.jpg) center center/cover no-repeat;
}
#s2 {
	background: url(../images/s2.jpg) center center/cover no-repeat;
}
#s3 {
	background: url(../images/s3.jpg) center center/cover no-repeat;
}
#s4 {
	background: url(../images/s4.jpg) center center/cover no-repeat;
}

#s1, #s2, #s3, #s4{
	background-color: #0e010eef;
	transition: 0.5s all;
	background-size: 100% 100%;
}
#s1:hover,#s2:hover,#s3:hover,#s4:hover {
	background-size: 120% 120%;
}
/*Footer*/

footer {
	width: 100%;
	box-sizing: border-box;
	bottom: 0;
	display: flex;
	background-color: #12020E;
    justify-content: space-between;
    align-items: center;
	padding: 15px;
}
footer div{
	display: flex;
	align-items: center;
}
#social-footer{
	display: none;
}
footer div ul{
	margin-left: 11px;
}
footer a img{
	width: 60px;
}
footer ul li {
	color: white;
}
footer div a img {
	width: 45px;
	transition: 0.5s;
}
footer div a img:hover {
	transform: scale(1.3);
}
#footlogo img{
	width: 60px;
}
/*Responsive styles for tablet and up*/
@media screen and (min-width: 768px) {
	#highlights .tabcontent{
		display: flex;
		flex-direction: row;
		padding: 0;
	  }
	#highlights .tab{
		display: flex;
	}
	.arrowbutton{
		display: flex;
		background-color: #07000700;
	}
	#hero {
		background: url(../images/framebig.jpg) center center/cover no-repeat;
	}
	h1 {
		text-align: center;
	}
	#highlights div, #services div  {
		display: flex;
		flex-direction: row;
	}

	#social-footer{
		display: flex;
	}
	#social-footer img{
		height: 35px;
		width: auto;
		padding-left: 15px;
	}
	#highlights h2{
		display: none;
	}
	#highlights form {
		margin-top: 30px;
		display: flex;
		margin-left: 45px;
	}

	#highlights form label{
		cursor: pointer;
		font-size: 2.2rem;
		font-family: 'Fredoka', sans-serif;
		padding: 15px;
		background-color: #D9D9D9;
		color: #3a173a38;
	}
	#highlights form input:checked~#label1, #highlights form input:checked~#label2{
		background-color: #9448BC;
		color: #FFD23F;
	}
	#highlights form input:not(:checked)~#label2{
		background-color: #D9D9D9;
		color: #3a173a38;
	}
	#highlights div {
		background-color: white;
		padding: 45px 15px;
		align-items: center;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
	#highlights button{
		display: inline;
	}
	.project-card{
		margin: 0px 7px;
	}
	#services div{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin-bottom: 60px;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
	.services-cards{
		width: 50%;
		height: 300px;
	}
	#s1 h3, #s2 h3 {
		align-self: flex-start;
		text-align: right;
	}
	#s3 h3, #s4 h3 {
		align-self: flex-end;
		text-align: right;
	}
}
/*Responsive styles for desktop and up*/
@media screen and (min-width: 1024px) {


	#hamenu{
		display: none;
	}
	#menu-list, #menu-links{
		display: flex;
		flex-direction: row;
		transform: translateX(0);
		position: relative;
		width: auto;
	}
	#menu-links a {
		padding: 15px 30px;
	}
	#social-links {
		display: none;
	}
	nav div label{
		display: none;
	}
}

/*Contact page CSS*/
main{
	margin-bottom: 100px;
}
#contHeader {
	height: 160px;
	background-color: #9900cc;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	color: white;
	padding: 15px 5%;
}
#contHeader strong{
	font-weight: 700;
}
#contHeader li{
	margin-bottom: 7px;
}

#contMain{
	display: flex;
	flex-direction: column;
}
#contMain h2 {
	color: #9900cc;
	height: 30px;
	display: flex;
	padding-left: 0;
}
#contMain h2 img{
	height: 30px;
	margin-right: 7px;
}
#contForm, #contSide{
	margin-left: 10%;
	margin-right: 10%;
}
#innnerform {
	width: 100%;
	max-width: 640px;
	background-color: white;
	padding: 30px;
	box-sizing: border-box;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: stretch;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
#innnerform>* {
	margin-bottom: 15px;
	padding: 7px;
	border-radius: 7px;
	border: #9448BC 2px solid;
	background-color: #e1dcf98d;
	font-family: 'Lato', sans-serif;
	color: #C2A4D1;
}
#innnerform>*:focus{
	background-color: white;
	color: #070007;
}
#innnerform .button {
	font-family: 'Fredoka', sans-serif;
	width: 211px;
	height: 53px;
	align-self: center;
	font-size: 1.2rem;
	border: 0;
	background-color: #ffcc33;
	color: #9448BC;
	box-shadow: 0 4px 3px rgba(0,0,0,0.25), 0 2px 6px rgba(0,0,0,0.22);
	cursor: pointer;

}
select{
	background-color: #FFD23F;
	color: #9448BC;
	font-family: 'Fredoka', sans-serif;
	font-size: 1.1rem;
	cursor: pointer;
}
select:focus{
	background-color: #9448BC;
	color: #ffcc33;
}
textarea{
	resize: none;
	height: 200px;
}
#contFaq ul li h3{
	font-size: 1.1rem;
	color: #9448BC;
	text-align: left;
	text-shadow: none;
}
#contFaq ul li p{
	background-color: #070007;
	color: white;
	margin-top: 3px;
	padding: 7px;
}
#contSoc ul{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#contSoc ul li{
	width: 100%;
	display: flex;
}
#contSoc ul li a{
	width: 100%;
	display: flex;
	align-items: center;
	max-width: 450px;
	padding: 12.5px;
	box-shadow: 0 4px 3px rgba(0,0,0,0.25), 0 2px 6px rgba(0,0,0,0.22);
	margin-bottom: 15px;
	border-radius: 11px;
	transition: all 0.5s;
}
#contSoc ul li a:hover{
	filter: brightness(1.5);
}
#contSoc ul li a:hover img{
	transform: scale(1.2);
}
#contSoc ul li img{
	height: 50px;
	transition: all 0.5s;
}
#contSoc h3{
	margin-left: 7px;
}
#soc1 a{
	background-color: #B8C9F5;
	color: #3C64CB;
}
#soc2 a{
	background-color: #DBD5DE;
	color: #070007;
}
#soc3 a{
	background-color: #F3C6DC;
	color: #FF288F;
}
@media screen and (max-width: 420px) {
nav a h4{
	font-size: 0.8rem;
}
h2 {
	font-size: 1.7rem;
}
textarea {
	height: 120px;
}
}
@media screen and (min-width: 768px) {
	#contHeader {
		height: 125px;
		flex-direction: row;
		align-items: end;
		justify-content: start;
	}
	#contHeader li{
		margin-bottom: 15px;
	}
	#contMain{
		display: grid; 
		grid-template-columns: 1fr 1fr; 
		gap: 0px 30px; 
	}
}
@media screen and (min-width: 1024px) {
	#contFaq ul li h3 strong{
		display: none;
	}
	#contHeader li{
		margin-right: 15px;
		margin-bottom: 20px;
	}
}


/*Works page CSS*/


#workHeader {
	height: 160px;
	background-color: #9900cc;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: end;
	color: white;
	padding: 15px 10%;
}
#workHeader p{
	margin-bottom: 15px;
}
#workHeader strong{
	font-weight: 700;
}
#workHeader li{
	margin-bottom: 10px;
}
.center-container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gallery-grid{
	display: grid; 
	width: 80%;
	padding: 30px 10%;
	margin: 30px 0;
	grid-template-columns: 1fr 1fr; 
	grid-template-rows: 1fr 1fr 1fr 1fr; 
	gap: 0px 0px; 
	grid-template-areas: 
	". ."
	". ."
	". ."
	". ."; 
	  justify-content: center; 
	  align-items: center; 
	background-color: white;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.portfolio-card h3{
	background-color: #9900cc63;
	color: white;
	text-align: center;
}
.featured h3{
	background-color: #ffcc33;
	color: #9900cc;
}
.gallery-item{
	width: 100%;
	cursor: pointer;
}


#w1 {
	background: url(../images/w1.jpg) center center/cover no-repeat;
}
#w2 {
	background: url(../images/w2.jpg) center center/cover no-repeat;
}
#w3 {
	background: url(../images/w3.jpg) center center/cover no-repeat;
}
#w4 {
	background: url(../images/w4.jpg) center center/cover no-repeat;
}
#w5 {
	background: url(../images/w5.jpg) center center/cover no-repeat;
}
#w6 {
	background: url(../images/w6.jpg) center center/cover no-repeat;
}
#w7 {
	background: url(../images/w7.jpg) center center/cover no-repeat;
}
#w8 {
	background: url(../images/w8.jpg) center center/cover no-repeat;
}
#w1, #w2, #w3, #w4, #w5, #w6, #w7, #w8{
	transition: 0.5s all;
	background-size: 100%;
	background-color: #070007;
}
#w1:hover, #w2:hover, #w3:hover, #w4:hover, #w5:hover, #w6:hover, #w7:hover, #w8:hover{
	background-size: 120%;
}

@media screen and (min-width: 768px) {
	.gallery-grid{
		grid-template-columns: 1fr 1fr 1fr; 
		grid-template-rows: 1fr 1fr 1fr; 
		gap: 15px 15px; 
		grid-template-areas: 
		". . ."
		". . ."
		". . ."; 
	
	}
}
@media screen and (min-width: 1024px) {
	.gallery-grid{
		grid-template-columns: 1fr 1fr 1fr 1fr; 
		grid-template-rows: 1fr 1fr; 
		gap: 15px 15px; 
		grid-template-areas: 
		  ". . . ."
		  ". . . .";
	
	}
	#workHeader {
		height: 160px;
		background-color: #9900cc;
		display: flex;
		flex-direction: row;
		align-items: end;
		justify-content: space-between;
		color: white;
		padding: 15px 10%;
	}
}
@media screen and (min-width: 1400px) {
	.gallery-grid{
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
		grid-template-rows: 1fr 1fr; 
		gap: 15px 15px; 
		grid-template-areas: 
		  ". . . . ."
		  ". . . . .";
	
	}
}


/*About Page CSS*/

#abcont {
	display: flex;
	flex-direction: column;
	margin: 0 40px;
}

#abcont h2{
	text-align: right;
	color: #9448BC;
}
.hline {
	width: 140px;
	padding-bottom: 10px;
}
#aportrait{
	width: 33vw;
	float: left;
	margin-left: -40px;
	margin-right: 15px;
}


.aexpcard {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}
.aexpcard span{
	color: #FFD23F;
	background-color: #9448BC;
	padding: 30px 20px;
	border-radius: 50%;
	font-size: 1.15rem;
}
.aexpcard button{
	background-color: white;
	color: black;
	width: 100%;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 1.15rem;
	margin-left: 15px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.aexpcard:last-of-type span{
	background-color: #3A173A;
}


/* Style the tab - Note from Orangel - Modified version of W3 website tab code Based on */
.tab {
	overflow: hidden;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
	background-color: #D9D9D9;
	color: dimgrey;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 1.15rem;
	padding: 14px 16px;
	transition: 0.3s;
	border-radius: 0;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
	background-color: #C2A4D1;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
	background-color: #9448BC;
	color: #FFD23F;
  }
  
  /* Style the tab content */
  .tabcontent {
	display: none;
	width: 100%;
	border-top: none;
  }
  .tabcontent button{
	border-radius: 0;
	box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), inset 0 3px 6px rgba(0,0,0,0.23);
	width: 80%;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
  }

  /*W3 based accordion*/

  .accordion {
	transition: 0.4s;
	font-size: 1.15rem;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
  }
  
  .active, .accordion:hover {
	background-color: #3A173A;
  }

  .panel {
	padding: 18px 18px;
	background-color: #D9D9D9;
	display: none;
	overflow: hidden;
  }

  /*FAQ styling*/

  #aquestcont{
	background-color: #3A173A;
	margin: 0 -40px;
	padding: 15px 40px;
	padding-bottom: 70px;
  }
  #aquestions button{
	background-color: #3A173A;
	font-size: 1.15rem;
	width: 100%;
	padding: 10px 0;
	border-radius: 0;
	border-bottom: 4px solid #9448BC;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
  }

  #aquestions .panel {
	padding: 18px 18px;
	background-color: #9448BC;
	display: none;
	overflow: hidden;
  }

  @media screen and (min-width: 768px) {
	#abcont{
		display: grid; 
		grid-template-columns: 1fr 1fr; 
		gap: 0px 30px;
	}
	#aportrait{
		max-width: 250px;
		float: left;
		margin-left: -15%;
	}
	#abwrap{
		display: flex;
		justify-content: center;
	}
	#aquestcont{
		background-color: #3A173A;
		margin: 0;
	}
}
@media screen and (min-width: 1024px) {
	#aportrait{
		margin-left: -15%;
	}
	#abcont{
		max-width: 1280px;
	}
}

/* Services Page */
#servMain h3{
	margin: 20px 30px;
	margin-top: 0;
	text-align: center;
}
.contact-me-btn {
	background-color: #ffcc33;
	padding: 20px 50px;
	border-radius: 5px;
	color: #9448BC;
	font-size: 1.3rem;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	font-weight: 600;
	transition: all 0.3s;
}
.contact-me-btn:hover {
	background-color: #9448BC;
	color: #ffcc33;
}
.gallery-grid-services{
	display: grid; 
	width: 80%;
	padding: 30px 10%;
	margin: 30px 0;
	grid-template-columns: 1fr; 
	grid-template-rows: 1fr 1fr 1fr 1fr; 
	gap: 30px 0px; 
	grid-template-areas: 
	"."
	"."
	"."
	"."; 
	  justify-content: center; 
	  align-items: center; 

}
.services-cards-main {
	height: 380px;
	max-width: 480px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: white;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.services-cards-inner{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	margin-bottom: 20px;
}
.services-cards-inner h3{
	color: #9448BC;
	width: auto;
	text-align: left;
}
.services-cards-inner div{
	margin: 0 20px;
	margin-top: 20px;
}
.services-cards-inner div:first-of-type {
	width: 100%;
	height: 50%;
}

.services-cards-inner #s1,.services-cards-inner #s2,.services-cards-inner #s3,.services-cards-inner #s4{
	background-color: #0e010eef;
	transition: 0.5s all;
	background-size: cover;
}
.services-cards-main button{
	font-size: 1.15rem;
	border-radius: 0;
	width: 100%;
	text-align: center;
	padding: 7.5px 0;
}


/* Modal styling */

 /* The Modal (background) */
 .modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	justify-content: center;
	align-items: center;
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fefefe;
	padding: 20px 50px;
	border-radius: 5px;
	
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .modal-content span{
	background-color: #9900cc;
	width: 100%;
	text-align: center;
	border-radius: 5px;
	color: #ffcc33;
	transition: color 0.3s;
	margin-top: 20px;
  }
  .modal-content ul:first-of-type{
	list-style: square;
  }
  .skill-list {
	display: flex;
	list-style:none;
	flex-wrap: wrap;
  }
  .skill-list button{
	font-size: 1rem;
	background-color: #aaa;
	color: #070007;
	margin-left: 5px;
	margin-bottom: 5px;
  }
  .modal-content ul li{
	margin-bottom: 5px;
  }
  .modal h3{
	color: #9448BC;
	text-align: left !important;
	margin:  20px 0 !important;
	width: auto;
  }
  
  /* The Close Button */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  } 

  @media screen and (min-width: 768px) {
	.gallery-grid-services{
		display: grid; 
		width: 80%;
		max-width: 1000px;
		padding: 30px 10%;
		margin: 30px 0px;
		grid-template-columns: 1fr 1fr; 
		grid-template-rows: 1fr 1fr; 
		gap: 30px 30px; 
		grid-template-areas: 
		". ."
		". ."; 
		  justify-content: center; 
		  align-items: center;
		justify-items: center;
	}
}