/* CSS reset START */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color: white;
	text-decoration: none;
}
button {
	all: initial;
}
/* CSS reset END */

/*Background image*/
body {
	background: 
    linear-gradient(rgba(225, 220, 249, 0.33),rgba(225, 220, 249, 0.33)),
    url(../images/papyrus.webp) center top/contain repeat fixed;
}
/*Navigation styling*/

/*Initializing fonts*/
h1,h2,h3,h4 {
	font-family: 'Fredoka', sans-serif;
}
a,p,li {
	font-family: 'Lato', sans-serif;
}
h1{
	font-size: 3rem;
}
h2{
	font-size: 2.2rem;
}
h3{
	font-size: 1.25rem;
}
h4{
	font-size: 1rem;
}

/*Navigation*/
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #0e010eef;
	position: fixed;
	width: 100%;
	z-index: 999;
}
nav a{
    display: flex;
    align-items: center;
	color: #FFD23F;
	padding: 15px;
	font-family: 'Fredoka', sans-serif;
}
nav a img{
    width: 60px;
}
nav a h4{
	margin-left: 11px;
}

#hamenu{
	width: 45px;
	cursor: pointer;
	padding: 15px;
}
#menu-list{
	transform: translateX(100%);
	transition: .4s;
	width: 50%;
	position: absolute;
}
#social-links img{
	padding-right: 15px;
	height: auto;
	width: 45px;
}
#menucheck {
	display: none ;
}
nav div label{
	display: block;
	height: 75px;
}
#menucheck:checked ~ #menu-list{
	transform: translateX(-60%);
	background-color: #070007;
	box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.2),
		0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
#menucheck:checked ~ label img{
	background-color: #070007;
}
#menu-list a{
	color: white;
	padding-left: 30px;
	font-size: 1.25rem;
	transition: .4s;
}
#menu-list a:hover{
	color: #FFD23F;
	background-color: #3A173A;
}
/*Landing page*/
#hero{
	height: 100vh;
	background: url(../images/frame.jpg) center center/cover no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	flex-direction: column;
}
h1{
	font-weight: 600;
	color: white;
}
h1 strong{
	color: #FFD23F
}
#hero a{
	position: absolute;
	justify-self: flex-end;
	bottom: 30px;
}
#hero a img{
	width: 60px;
}
/*Sections formatting*/
h2{
	padding: 30px 15px;
}
h3 {
	color: white;
	text-shadow: .1em .1em 0 hsl(200 50% 30%);
	text-align: center;
}
#highlights div, #services div  {
	display: flex;
	flex-direction: column;
}
/*Highlights section*/
#highlights h2 {
	color: #9448BC;
}
#highlights form {
	display: none;
}
#highlights form input {
	display: none;
}

#highlights button{
	display: none;
	height: 100px;
	cursor: pointer;
}
#highlights button img{
	height: 100px;
	opacity: 30%;
}
#highlights button img:hover{
	opacity: 100%;
}

/*Highlights gallery*/
.project-card{
	width: 100%;
	height: 250px;
	display: flex;
	flex-direction: column-reverse;
}
.project-card h3{
	width: 100%;
	height: 30px;
	background-color: rgba(0, 0, 0, 0.603);
}
#h1 {
	background: url(../images/h1.jpg) center center/cover no-repeat;
}
#h2 {
	background: url(../images/h2.jpg) center center/cover no-repeat;
}
#h3 {
	background: url(../images/h3.jpg) center center/cover no-repeat;
}

/*Services Section*/
#services h2{
	color: #3A173A;
}
#services div{
	position: relative;
}
/*Services Gallery*/
.services-cards{
	width: 100%;
	height: 250px;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-content: center;
}
.services-cards h3{
	width: auto;
	text-align: left;
	align-self: start;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.603);
}
#s1 h3, #s3 h3 {
	align-self: flex-end;
	text-align: right;
}
#s1 {
	background: url(../images/s1.jpg) center center/cover no-repeat;
}
#s2 {
	background: url(../images/s2.jpg) center center/cover no-repeat;
}
#s3 {
	background: url(../images/s3.jpg) center center/cover no-repeat;
}
#s4 {
	background: url(../images/s4.jpg) center center/cover no-repeat;
}
/*Footer*/

footer {
	display: flex;
	background-color: #3A173A;
    justify-content: space-between;
    align-items: center;
	padding: 15px;
}
footer div{
	display: flex;
	align-items: center;
}
#social-footer{
	display: none;
}
footer div ul{
	margin-left: 11px;
}
footer a img{
	width: 60px;
}
footer ul li {
	color: white;
}
footer div a img {
	width: 45px;
}
#footlogo img{
	width: 60px;
}
/*Responsive styles for tablet and up*/
@media screen and (min-width: 768px) {

	#hero {
		background: url(../images/framebig.jpg) center center/cover no-repeat;
	}
	h1 {
		text-align: center;
	}
	#highlights div, #services div  {
		display: flex;
		flex-direction: row;
	}

	#social-footer{
		display: flex;
	}
	#social-footer img{
		height: 35px;
		width: auto;
		padding-left: 15px;
	}
	#highlights h2{
		display: none;
	}
	#highlights form {
		margin-top: 30px;
		display: flex;
		margin-left: 45px;
	}

	#highlights form label{
		cursor: pointer;
		font-size: 2.2rem;
		font-family: 'Fredoka', sans-serif;
		padding: 15px;
		background-color: #D9D9D9;
		color: #3a173a38;
	}
	#highlights form input:checked~#label1, #highlights form input:checked~#label2{
		background-color: #9448BC;
		color: #FFD23F;
	}
	#highlights form input:not(:checked)~#label2{
		background-color: #D9D9D9;
		color: #3a173a38;
	}
	#highlights div {
		background-color: white;
		padding: 45px 15px;
		align-items: center;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
	#highlights button{
		display: inline;
	}
	.project-card{
		margin: 0px 7px;
	}
	#services div{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 60px;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
	.services-cards{
		width: 50%;
		height: 300px;
	}
	#s1 h3, #s2 h3 {
		align-self: flex-start;
		text-align: right;
	}
	#s3 h3, #s4 h3 {
		align-self: flex-end;
		text-align: right;
	}
}
/*Responsive styles for desktop and up*/
@media screen and (min-width: 1024px) {

	#hamenu{
		display: none;
	}
	#menu-list, #menu-links{
		display: flex;
		flex-direction: row;
		transform: translateX(0);
		position: relative;
		
	}
	#social-links {
		display: none;
	}
	nav div label{
		display: none;
	}
}

